/* src/index.css or App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  section {
    padding: 20px;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .text-section {
    width: 100%;
    text-align: center;
  }

  .image-section {
    width: 100%;
    margin-top: 2rem;
  }
  .header,
  .main-section {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .profile-image {
    width: 80%;
    margin: auto;
  }
}


