/* src/index.css or App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  section {
    padding: 20px;
    flex-direction: column;
  }
}


